/* 웹폰트 선언 */
@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.ttf') format("truetype");
    font-display: swap;
}


@font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
} 

@keyframes shaking {
    0% { transform: rotate(0deg); }
    6.25% { transform: rotate(5deg); }
    12.5% { transform: rotate(0deg); }
    18.75% { transform: rotate(-5deg); }
    25% { transform: rotate(0deg); }
    31.25% { transform: rotate(5deg); }
    37.5% { transform: rotate(0deg); }
    43.75% { transform: rotate(-5deg); }
    50% { transform: rotate(0deg); }
    56.25% { transform: rotate(0deg); }
    62.5% { transform: rotate(0deg); }
    68.75% { transform: rotate(0deg); }
    75% { transform: rotate(0deg); }
    81.25% {transform: rotate(0deg);  }
    87.5% { transform: rotate(0deg); }
    93.75% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}


/* 전체 폰트 선언 */
html{ font-size: 16px; }
*{ box-sizing: border-box; font-family: 'Pretendard', 'Apple SD Gothic Neo',  '돋움', Dotum, 'Arial', 'Helvetica', Sans-serif; text-decoration: none; }
body{ font-family: 'Pretendard', 'Apple SD Gothic Neo', '돋움', Dotum, 'Arial', 'Helvetica', Sans-serif; z-index: 0; overflow-x: hidden; box-sizing: border-box; }
.container{ position: relative; }


/* main start */
main{ padding-top: 11.25rem; z-index: 0; }

main .goodsDetail-area{ margin-bottom: 12.5rem; width: 100%; }
main .goodsDetail-area .goodsDetail-wrap{ position: relative; display: flex; width: 75%; max-width: 107.5rem; flex-direction: column; gap: 3.125rem; justify-content: center; align-items: center; margin: 0 auto; padding-top: 6.25rem; transition: all 0.3s; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo{ display: flex; flex-direction: row; width: 100%; justify-content: space-between; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsPri-wrap{ width: calc((100% - 5rem) / 2); display: flex; flex-direction: row; gap: 1.25rem; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsPri-wrap .goodsPri-thumb{ width: 4.375rem; height: 4.375rem; border-radius: 10px; overflow: hidden; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsPri-wrap .goodsPri-big{ width: calc(100% - 5.625rem); aspect-ratio: auto 1 / 1; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsPri-wrap .goodsPri-item{ display: block; width: 100%; height: auto; border-radius: 20px; overflow: hidden; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsPri-wrap .goodsPri-item .item{ width: 100%; height: 100%; }

main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap{ width: calc((100% - 5rem) / 2); display: flex; flex-direction: column; gap: 30px; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-title{ font-family: 'Pretendard'; font-size: 28px; font-weight: 700; line-height: normal; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-bar{ width: 100%; height: 1px; background-color: #777; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info{ display: flex; flex-direction: column; gap: 50px; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail{ display: flex; flex-direction: column; gap: 30px; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .detail-wrap{  }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .detail-wrap .detail-table-wrap{ width: 100%; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .detail-wrap .detail-table-wrap .detail-table-list{  }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .detail-wrap .detail-table-wrap .detail-table-list .table-item{ padding: 10px 0; color: #666; font-size: 15px; font-weight: 500; line-height: normal; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .detail-wrap .detail-table-wrap .detail-table-list .table-item.bold{ font-size: 18px; font-weight: 700; color: #000; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .detail-wrap .detail-table-wrap .detail-table-list .table-item.strong{ font-size: 20px; font-weight: 700; color: #000; }

main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap{  }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .select-wrap{ display: flex; width: 100%; height: 40px; flex-direction: row; justify-content: space-between; align-items: center; padding: 0 20px; border: 1px solid #777; border-radius: 10px; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .select-wrap .option_select{ width: 100%; height: 100%; color: gray; background-color: transparent; border: none; outline: none; font-size: 1rem; appearance: none; }
/* main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .select-wrap .option_select .option_select_name{  } */
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .select-wrap .select-arrow{ cursor: pointer; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option{ width: 100%; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added{ width: 100%; padding: 15px; border-bottom: 0.5px solid #444; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added button,
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added input{ border: none; outline: none; background-color: transparent; padding: 0; margin: 0; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list{ display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .material-icons{ width: 14px; height: 14px; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .opt_name{ display: flex; flex-direction: row; gap: 20px; align-items: center; font-size: 0.875rem; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .opt_name .sit_opt_subj{ font-size: 0.875rem; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .opt_name .option_copy_btn{ cursor: pointer; font-size: 0.875rem; color: #777; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .sound_only{ font-size: 0; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .opt_count{ display: flex; flex-direction: row; gap: 0; justify-content: center; align-items: center; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .opt_count button{ display: flex; width: 40px; height: 40px; justify-content: center; align-items: center; background-color: #f1f2f4; color: #000; font-size: 20px; font-weight: 700; cursor: pointer; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .opt_count input{ display: flex; width: 50px; height: 40px; justify-content: center; align-items: center; background-color: #fff; color: #000; text-align: center; border: 1px solid #f1f2f4; border-radius: 0; font-size: 18px; font-weight: 700; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .opt_count .sit_qty_minus{  }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .opt_count .sit_qty_plus{  }

main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap{ display: flex; flex-direction: column; gap: 1rem; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .benefit-price{ display: flex; flex-direction: row; justify-content: space-between; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .benefit-price .benefit-price-txt{ display: flex; flex-direction: row; gap: 8px; align-items: center; color: #a90404; font-weight: 700; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .benefit-price .benefit-price-txt .title{ font-size: 24px; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .benefit-price .benefit-price-txt .txt-detail{ font-size: 14px; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .benefit-price .benefit-price-unit{ display: flex; flex-direction: row; gap: 4px; align-items: center; font-size: 18px; font-weight: 500; color: #ccc; text-decoration: line-through; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .benefit-price .benefit-price-unit .price{  }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .benefit-price .benefit-price-unit .price .price-unit{  }

main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .total-price{ display: flex; flex-direction: row; justify-content: space-between; align-items: center; font-size: 20px; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .total-price .total-price-title{  }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .total-price .total-price-unit{ display: flex; flex-direction: row; gap: 4px; align-items: center; font-weight: 700; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .total-price .total-price-unit .price{ color: #074737; font-size: 25px; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .total-price .total-price-unit .price-unit{ color: #000; }

main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap{ width: 100%; display: flex; flex-direction: column; gap: 10px; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap button{ border: none; outline: none; background-color: transparent; padding: 0; margin: 0; border-radius: 10px; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .sit_ov_btn{ display: flex; flex-direction: row; gap: 10px !important; justify-content: space-between; align-items: center; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .sit_ov_btn .sit_ov_wish{ width: 60px !important; height: 60px; background-color: #f2f2f2; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .sit_ov_btn .sit_ov_cart{ width: 60px !important; height: 60px; background-color: #f2f2f2; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .sit_ov_btn .sit_ov_buy{ width: 80%; height: 60px; background-color: #074737; color: #fff; font-size: 22px; font-weight: 700; line-height: normal; }

main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .download{  }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .download .download-list{ display: flex; width: 100%; flex-direction: row; justify-content: center; align-items: center; gap: 10px; flex-wrap: wrap; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .download .download-list .download-item{ width: calc((100% - 10px) / 2); height: 60px; background-color: #fff; border: 1px solid #074737; border-radius: 10px; font-size: 18px; font-weight: 500; }
main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .download .download-list .download-item a{ display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; color: #074737; text-align: center; }

main .goodsDetail-area .goodsDetail-wrap .goodsDetail{ width: 100%; display: flex; flex-direction: column; gap: 30px; align-items: center; justify-content: center; }
main .goodsDetail-area .goodsDetail-wrap .goodsDetail .sit-rel{ width: 100%; display: flex; flex-direction: column; align-items: center; gap: 40px; padding: 36px; border: 0.5px solid #444; border-radius: 10px; }
main .goodsDetail-area .goodsDetail-wrap .goodsDetail .sit-rel .sit-rel-title{ font-size: 26px; font-weight: 500; line-height: normal; color: #000; }
main .goodsDetail-area .goodsDetail-wrap .goodsDetail .sit-rel .main_prd{ width: 100%; background-color: #f7f7f7; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
main .goodsDetail-area .goodsDetail-wrap .goodsDetail .sit-rel .main_prd .content{  }
main .goodsDetail-area .goodsDetail-wrap .goodsDetail .sit-rel .main_prd .content .swiper-wrapper{  }
main .goodsDetail-area .goodsDetail-wrap .goodsDetail .sit-rel .main_prd .content .swiper-wrapper .swiper_empty_it{ padding: 40px 0; text-align: center; font-size: 1rem; }
main .goodsDetail-area .goodsDetail-wrap .goodsDetail .sit-rel .main_prd .content .swiper-notification{  }

main .goodsDetail-area .goodsDetail-wrap .goodsDetail .board-table{ width: 100%; display: flex; flex-direction: column; gap: 10px; }
main .goodsDetail-area .goodsDetail-wrap .goodsDetail .board-table .table-title{ font-size: 22px; font-weight: 700; }
main .goodsDetail-area .goodsDetail-wrap .goodsDetail .board-table .table-content{ width: 100%; border-top: 1px solid #000; font-size: 14px; }
main .goodsDetail-area .goodsDetail-wrap .goodsDetail .producer-table{  }
main .goodsDetail-area .goodsDetail-wrap .goodsDetail .producer-table .producer_notice_table{  }
main .goodsDetail-area .goodsDetail-wrap .goodsDetail .producer-table .producer_notice_table tr{ display: flex; flex-direction: row; align-items: center; }
main .goodsDetail-area .goodsDetail-wrap .goodsDetail .producer-table .producer_notice_table td{ width: 50%; height: 70px; padding: 15px; display: flex; align-items: center; }
main .goodsDetail-area .goodsDetail-wrap .goodsDetail .producer-table .producer_notice_table .table_list{ background-color: #fafafa; }

main .goodsDetail-area .goodsDetail-wrap .goodsDetail .qna-table{  }
main .goodsDetail-area .goodsDetail-wrap .goodsDetail .qna-table .qna_table_header{ display: flex; flex-direction: column; gap: 10px; }
main .goodsDetail-area .goodsDetail-wrap .goodsDetail .qna-table .qna_table_header .qna_btn_wrapper{ display: flex; flex-direction: row; justify-content: space-between; align-items: center; font-size: 14px; font-weight: 500; }
main .goodsDetail-area .goodsDetail-wrap .goodsDetail .qna-table .qna_table_header .qna_btn_wrapper .qna_description{  }
main .goodsDetail-area .goodsDetail-wrap .goodsDetail .qna-table .qna_table_header .qna_btn_wrapper a{ display: flex; justify-content: center; align-items: center; padding: 10px 15px; background-color: #074737; border-radius: 10px; color: #fff; }
main .goodsDetail-area .goodsDetail-wrap .goodsDetail .qna-table .qna_table{ width: 100%; border-top: 1px solid #000; }



.floatingSideMenu{ display: none !important; }






/**************************
반응형 1250px start
**************************/

@media screen and (min-width: 1024px) and (max-width: 1366px){
    
    main .goodsDetail-area .goodsDetail-wrap{ padding-top: 4rem; width: 90%; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsPri-wrap{ width: calc((100% - 2.5rem) / 2); gap: 0.875rem; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsPri-wrap .goodsPri-item{ border-radius: 10px; }

    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap{ width: calc((100% - 2.5rem) / 2); gap: 20px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-title{ font-size: 24px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail{ gap: 20px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .detail-wrap .detail-table-wrap .detail-table-list .table-item{ padding: 8px 0; font-size: 14px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .detail-wrap .detail-table-wrap .detail-table-list .table-item.bold{ font-size: 16px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .detail-wrap .detail-table-wrap .detail-table-list .table-item.strong{ font-size: 18px; }

    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .select-wrap{ height: 32px; border-radius: 10px; padding: 0 12px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .select-wrap .option_select{ font-size: 1rem; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .material-icons{ width: 10px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .material-icons svg{ width: 10px; height: 10px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .material-icons svg path{ width: 10px; height: 10px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .opt_name{ flex-wrap: wrap; gap: 16px; width: 200px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .opt_name .sit_opt_subj{ font-size: 0.75rem; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .opt_name .option_copy_btn{ font-size: 0.75rem; text-align: left; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .opt_count button{ width: 24px; height: 24px; font-size: 16px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .opt_count input{ width: 30px; height: 24px; font-size: 14px; }

    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .total-price{ font-size: 16px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .total-price .total-price-unit .price{ font-size: 22px; }

    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .sit_ov_btn .sit_ov_wish{ width: 50px !important; height: 50px; background-color: #f2f2f2; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .sit_ov_btn .sit_ov_cart{ width: 50px !important; height: 50px; background-color: #f2f2f2; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .sit_ov_btn svg{ width: 20px; height: 20px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .sit_ov_btn svg path{ width: 20px; height: 20px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .sit_ov_btn .sit_ov_buy{ width: 72%; height: 50px;font-size: 18px; }

    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .download .download-list .download-item{ height: 50px; font-size: 16px; font-weight: 500; }
    
}



/**************************
해상도 낮은 태블릿 start
**************************/

@media screen and (min-width: 768px) and (max-width: 1023px){
    
    main .goodsDetail-area .goodsDetail-wrap{  padding-top: 4rem; width: 90%; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo{ flex-direction: column; gap: 20px; }

    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsPri-wrap{ width: 100%; gap: 0.875rem; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsPri-wrap .goodsPri-item{ border-radius: 10px; }

    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap{ width: 100%; gap: 20px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-title{ font-size: 20px; padding: 0 10px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .detail-wrap{ padding: 0 10px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .detail-wrap .detail-table-wrap{ width: 100%; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .detail-wrap .detail-table-wrap .detail-table-list .table-item{ padding: 8px 0; font-size: 12px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .detail-wrap .detail-table-wrap .detail-table-list .table-item.bold{ font-size: 14px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .detail-wrap .detail-table-wrap .detail-table-list .table-item.strong{ font-size: 16px; }

    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .select-wrap{ height: 32px; border-radius: 8px; padding: 0 12px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .select-wrap .option_select{ font-size: 1rem; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added{ padding: 15px 10px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .opt_name{ flex-wrap: wrap; gap: 10px 16px; min-width: 140px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .opt_name .option_copy_btn{  }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .opt_count button{ width: 24px; height: 24px; font-size: 16px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .opt_count input{ width: 30px; height: 24px; font-size: 14px; }

    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .benefit-price .benefit-price-unit{ font-size: 16px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .benefit-price .benefit-price-unit .price{  }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .benefit-price .benefit-price-unit .price .price-unit{  }

    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .total-price{ font-size: 16px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .total-price .total-price-unit .price{ font-size: 20px; }

    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .sit_ov_btn .sit_ov_wish{ width: 50px !important; height: 50px; background-color: #f2f2f2; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .sit_ov_btn .sit_ov_cart{ width: 50px !important; height: 50px; background-color: #f2f2f2; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .sit_ov_btn svg{ width: 20px; height: 20px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .sit_ov_btn svg path{ width: 20px; height: 20px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .sit_ov_btn .sit_ov_buy{ width: 82%; height: 50px; font-size: 16px; }

    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .download .download-list .download-item{ height: 40px; font-size: 14px; font-weight: 500; border-radius: 8px; }

    main .goodsDetail-area .goodsDetail-wrap .goodsDetail .sit-rel{ gap: 20px; padding: 20px; border: 0.75px solid #444; border-radius: 10px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsDetail .sit-rel .sit-rel-title{ font-size: 18px; font-weight: 700; }

    main .goodsDetail-area .goodsDetail-wrap .goodsDetail .board-table .table-title{ font-size: 18px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsDetail .board-table .table-content{ font-size: 12px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsDetail .producer-table .producer_notice_table td{ height: 60px; padding: 15px; }

    main .goodsDetail-area .goodsDetail-wrap .goodsDetail .qna-table .qna_table_header .qna_btn_wrapper a{ border-radius: 8px; }

}



/*********************************************
  모바일 360px-767px
*********************************************/

@media screen and (min-width: 320px) and (max-width: 767px){

    main .goodsDetail-area .goodsDetail-wrap{  padding-top: 4rem; width: 90%; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo{ flex-direction: column; gap: 20px; }

    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsPri-wrap{ width: 100%; gap: 0.875rem; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsPri-wrap .goodsPri-item{ border-radius: 10px; }

    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap{ width: 100%; gap: 20px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-title{ font-size: 20px; padding: 0 10px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .detail-wrap{ padding: 0 10px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .detail-wrap .detail-table-wrap{ width: 100%; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .detail-wrap .detail-table-wrap .detail-table-list .table-item{ padding: 8px 0; font-size: 12px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .detail-wrap .detail-table-wrap .detail-table-list .table-item.bold{ font-size: 14px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .detail-wrap .detail-table-wrap .detail-table-list .table-item.strong{ font-size: 16px; }

    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .select-wrap{ height: 32px; border-radius: 8px; padding: 0 12px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .select-wrap .option_select{ font-size: 1rem; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added{ padding: 15px 10px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .opt_name{ flex-wrap: wrap; gap: 10px 16px; min-width: 140px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .opt_name .option_copy_btn{ text-align: left; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .opt_count button{ width: 24px; height: 24px; font-size: 16px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .option-wrap .selected-option .sit_opt_added .sit_opt_list .opt_count input{ width: 30px; height: 24px; font-size: 14px; }

    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .benefit-price .benefit-price-unit{ font-size: 16px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .benefit-price .benefit-price-unit .price{  }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .benefit-price .benefit-price-unit .price .price-unit{  }

    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .total-price{ font-size: 16px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-info-detail .price-wrap .total-price .total-price-unit .price{ font-size: 20px; }

    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .sit_ov_btn .sit_ov_wish{ width: 50px !important; height: 50px; background-color: #f2f2f2; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .sit_ov_btn .sit_ov_cart{ width: 50px !important; height: 50px; background-color: #f2f2f2; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .sit_ov_btn svg{ width: 20px; height: 20px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .sit_ov_btn svg path{ width: 20px; height: 20px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .sit_ov_btn .sit_ov_buy{ width: 64%; height: 50px; font-size: 16px; }

    main .goodsDetail-area .goodsDetail-wrap .goodsInfo .goodsInfo-wrap .goods-info .goods-btn-wrap .download .download-list .download-item{ height: 40px; font-size: 14px; font-weight: 500; border-radius: 8px; }

    main .goodsDetail-area .goodsDetail-wrap .goodsDetail .sit-rel{ gap: 20px; padding: 20px; border: 0.75px solid #444; border-radius: 10px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsDetail .sit-rel .sit-rel-title{ font-size: 18px; font-weight: 700; }
    main .goodsDetail-area .goodsDetail-wrap .goodsDetail .sit-rel .main_prd .content .swiper-wrapper .swiper_empty_it{ font-size: 0.875rem; }

    main .goodsDetail-area .goodsDetail-wrap .goodsDetail .board-table .table-title{ font-size: 18px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsDetail .board-table .table-content{ font-size: 12px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsDetail .producer-table .producer_notice_table td{ height: 60px; padding: 15px; }

    main .goodsDetail-area .goodsDetail-wrap .goodsDetail .qna-table{ position: relative; }
    main .goodsDetail-area .goodsDetail-wrap .goodsDetail .qna-table .qna_table_header{ gap: 20px; }
    main .goodsDetail-area .goodsDetail-wrap .goodsDetail .qna-table .qna_table_header .qna_btn_wrapper{ flex-direction: column; gap: 10px; align-items: flex-start; }
    main .goodsDetail-area .goodsDetail-wrap .goodsDetail .qna-table .qna_table_header .qna_btn_wrapper .qna_description{  }
    main .goodsDetail-area .goodsDetail-wrap .goodsDetail .qna-table .qna_table_header .qna_btn_wrapper a{ position: absolute; align-self: flex-end; padding: 8px 10px; border-radius: 6px; top: -4px; }

}