/* 웹폰트 선언 */
@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.ttf') format("truetype");
    font-display: swap;
}


@font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
} 

@keyframes shaking {
    0% { transform: rotate(0deg); }
    6.25% { transform: rotate(5deg); }
    12.5% { transform: rotate(0deg); }
    18.75% { transform: rotate(-5deg); }
    25% { transform: rotate(0deg); }
    31.25% { transform: rotate(5deg); }
    37.5% { transform: rotate(0deg); }
    43.75% { transform: rotate(-5deg); }
    50% { transform: rotate(0deg); }
    56.25% { transform: rotate(0deg); }
    62.5% { transform: rotate(0deg); }
    68.75% { transform: rotate(0deg); }
    75% { transform: rotate(0deg); }
    81.25% {transform: rotate(0deg);  }
    87.5% { transform: rotate(0deg); }
    93.75% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}


/* 전체 폰트 선언 */
html{ font-size: 16px; }
*{ box-sizing: border-box; font-family: 'Pretendard', 'Apple SD Gothic Neo',  '돋움', Dotum, 'Arial', 'Helvetica', Sans-serif; text-decoration: none; }
body{ font-family: 'Pretendard', 'Apple SD Gothic Neo', '돋움', Dotum, 'Arial', 'Helvetica', Sans-serif; z-index: 0; overflow-x: hidden; box-sizing: border-box; }
.container{ position: relative; }

/* floating menu start */
.floatingSideMenu{ position: fixed; display: flex; flex-direction: column; gap: 1.25rem; width: 6.25rem; height: auto; top: calc(50% - 17.5rem); right: 3.75rem; justify-content: center; align-items: center; margin: 0 auto; font-family: 'Pretendard'; z-index: 1; transition: all 0.3s; }
.floatingSideMenu .logo-area{ width: 4.375rem; height: auto; }
.floatingSideMenu .logo-area .logo-item{ width: 4.375rem; height: auto; transition: all 0.3s ease-in-out; }
.floatingSideMenu .txt-area{  }
.floatingSideMenu .txt-area .sideMenu-list .sideMenu-item{ text-align: center; }
.floatingSideMenu .txt-area .sideMenu-list .sideMenu-item::before{ content: ""; display: block; width: 3.75rem; height: 1px; margin: 0 auto 0.875rem; background-color: rgba(145, 166, 161, 0.60);  }
.floatingSideMenu .txt-area .sideMenu-list .sideMenu-item .item{ font-size: 0.875rem; font-weight: 500; color: #000; letter-spacing: -0.02rem; text-align: center; }
.floatingSideMenu .txt-area .sideMenu-list .sideMenu-item:first-of-type:before{ width: 5rem; background-color: #074737; }
.floatingSideMenu.show{ opacity: 1; visibility: visible; }
.floatingSideMenu.bottom{ position: absolute; bottom: 1.25rem; top: auto; }
.floatingSideMenu .floatMenu-wrap{ display: flex; flex-direction: column; gap: 0.75rem; width: 100%; height: 23.75rem; justify-content: center; align-items: center; border: 0.047rem solid #074737; border-radius: 0.625rem; background-color: #fff; overflow: hidden; }
.floatingSideMenu .floatMenu-wrap.ad{ height: 8.25rem; border: none; background-color: #000; }
.floatingSideMenu .floatMenu-wrap.ad .item{ font-size: 0; }
.floatingSideMenu .floatMenu-wrap.ad .logo-area{ width: 5.625rem; padding-top: 0.5rem; overflow: hidden; }
.floatingSideMenu .floatMenu-wrap.ad .logo-area .logo-item{ width: 5.625rem; height: auto; animation: shaking 1s infinite; }
.floatingSideMenu .floatMenu-wrap.ad:nth-of-type(2) .logo-area { width: 5rem; }
.floatingSideMenu .floatMenu-wrap.ad:nth-of-type(2) .logo-area .logo-item{ width: 5rem; animation: shaking 1s infinite; animation-delay: 0.5s; }
.floatingSideMenu .floatMenu-wrap.ad:hover .logo-area .logo-item{ animation: none; transform: scale(1.05); }
.floatingSideMenu .floatMenu-wrap .txt-area .sideMenu-list{ display: flex; flex-direction: column; gap: 0.875rem; justify-content: center; align-items: center; }
.floatingSideMenu .floatMenu-wrap.ad .txt-area .sideMenu-list .sideMenu-item:before{ margin: 0 auto 0.75rem; }
.floatingSideMenu .floatMenu-wrap.ad .txt-area .sideMenu-list .sideMenu-item:first-of-type:before{ width: 5rem; background-color: #fff; }
.floatingSideMenu .floatMenu-wrap.ad .txt-area .sideMenu-list .sideMenu-item .item{ font-size: 0.75rem; color: #fff; }
.floatingSideMenu .floatMenu-wrap.guideLinked{ height: 6.25rem; border: none; background-color: #2F4834; }
.floatingSideMenu .floatMenu-wrap.guideLinked .logo-area{ width: 100%; height: 100%; padding-top: none; }
.floatingSideMenu .floatMenu-wrap.guideLinked .logo-area .logo-item{ width: 100%; height: 100%; padding-top: none; }
.floatingSideMenu .floatMenu-wrap.guideLinked:hover .logo-area .logo-item{ transform: scale(1.05); }



/* main start */
main{ padding-top: 11.25rem; z-index: 0; }
main .guide-content{ padding: 1.25rem 0 6.25rem; }
main .guide-content .guide-area{ max-width: 87.5rem; width: 75%; margin: 0 auto; }
main .guide-content .guide-area .guide-wrap{ position: relative; margin-bottom: 1.25rem; padding: 0; }
main .guide-content .guide-area .guide-wrap .sub-title{  }
main .guide-content .guide-area .guide-wrap .sub-title h2{ text-align: center; padding: 3.125rem 0; font-size: 2rem; font-weight: 900; }
main .guide-content .guide-area .guide-wrap .userGuide-wrap{ display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 3.75rem; }
main .guide-content .guide-area .guide-wrap .userGuide-wrap .lnb-wrap{ width: 100%; padding: 0 1.25rem; border-bottom: 1px solid #074737; }
main .guide-content .guide-area .guide-wrap .userGuide-wrap .lnb-wrap .lnb-list{ display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
/* main .guide-content .guide-area .guide-wrap .userGuide-wrap .lnb-wrap .lnb-list .lnb-item{ width: calc(100% / 8); } */
main .guide-content .guide-area .guide-wrap .userGuide-wrap .lnb-wrap .lnb-list .lnb-item .item{ display: flex; width: 100%; height: 3.75rem; padding: 0 28px; text-align: center; align-items: center; justify-content: center; color: #777; font-size: 1.125rem; font-weight: 400; transition: all 0.3s; line-height: 1.2; }
main .guide-content .guide-area .guide-wrap .userGuide-wrap .lnb-wrap .lnb-list .lnb-item .item.on{ color: #000; font-weight: 700; }
main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap{ width: 100%; }
main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item{ display: none; justify-content: center; align-items: center; }
main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item .item{ width: 80%; height: auto; transition: all 0.3s; }
main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code{ display: none; flex-direction: column; }
main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail{ margin: 0; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 80px; width: 80%; padding: 3.75rem 0; background-color: #41644a; }
main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .item{ width: 90%; height: auto; transition: all 0.3s;  }
main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .border{ border-radius: 1.875rem; }
main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .guide-deatil-add{ display: flex; flex-direction: column; align-items: center; width: 90%; background-color: #fff; overflow: hidden; }
main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .guide-deatil-add .item{ width: 100%; }
main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .guide-deatil-add .guide-cta-wrap{ width: 80%; margin: 0 auto; display: flex; flex-direction: column; gap: 2.5rem; padding-bottom: 3.75rem; }
main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .guide-deatil-add .guide-cta-wrap::before{ content: ""; display: block; width: 100%; height: 1px; background-color: #000; }
main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .guide-deatil-add .guide-cta-wrap .guide-cta-title{ font-family: 'Pretendard'; font-size: 2rem; font-weight: 700; }
main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .guide-deatil-add .guide-cta-wrap .cta-list{ display: flex; flex-direction: row; gap: 2.5rem; }
main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .guide-deatil-add .guide-cta-wrap .cta-list .cta-wrap{ width: 100%; height: 7.5rem; margin: 0 auto; border-radius: 1.25rem; overflow: hidden; }
main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .guide-deatil-add .guide-cta-wrap .cta-list .cta-wrap .cta-item{ width: 100%; height: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 2.5rem; background-color: #41644A; transition: all 0.3s; }
main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .guide-deatil-add .guide-cta-wrap .cta-list .cta-wrap .cta-item:hover{ background-color: #193C22; }
main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .guide-deatil-add .guide-cta-wrap .cta-list .cta-wrap .cta-item .cta-text{ font-family: 'GmarketSans'; font-size: 1.25rem; font-weight: 500; line-height: 1.2; color: #fff; }
main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .guide-deatil-add .guide-cta-wrap .cta-list .cta-wrap .cta-item .cta-text .cta-arrow{  }






/**************************
반응형 123.125rem start
**************************/

@media screen and (min-width: 1024px) and (max-width: 1366px){
    
    main .guide-content .guide-area{ max-width: none; width: 90%; }
    main .guide-content .guide-area .guide-wrap .sub-title h2{ padding: 2.625rem 0; font-size: 1.75rem; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .lnb-wrap{ padding: 0 2.5rem; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .lnb-wrap .lnb-list .lnb-item .item{ font-size: 0.875rem; padding: 0 1rem; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail{ gap: 3.75rem; padding: 2.5rem 0; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .border{ border-radius: 1.25rem; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .guide-deatil-add .guide-cta-wrap .cta-list .cta-wrap .cta-item{ padding: 2rem; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .guide-deatil-add .guide-cta-wrap .cta-list .cta-wrap .cta-item .cta-text{ font-size: 1rem; }
}



/**************************
해상도 낮은 태블릿 start
**************************/

@media screen and (min-width: 768px) and (max-width: 1023px){
    
    main .guide-content .guide-area{ max-width: none; width: 90%; }
    main .guide-content .guide-area .guide-wrap .sub-title h2{ padding: 3.125rem 0 1.25rem; font-size: 1.75rem; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .lnb-wrap{ padding: 0 1.25rem; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .lnb-wrap .lnb-list .lnb-item .item{ font-size: 14px; padding: 0 1rem; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail{ gap: 2.5rem; padding: 1.875rem 0; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .border{ border-radius: 1rem; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .guide-deatil-add .guide-cta-wrap .cta-list{ flex-direction: column; gap: 1.25rem; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .guide-deatil-add .guide-cta-wrap .cta-list .cta-wrap{ height: 6.25rem; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .guide-deatil-add .guide-cta-wrap .cta-list .cta-wrap .cta-item{ padding: 1.5rem 2.5rem; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .guide-deatil-add .guide-cta-wrap .cta-list .cta-wrap .cta-item .cta-text{ font-size: 1.125em; }

}



/*********************************************
  모바일 360px-767px
*********************************************/

@media screen and (min-width: 320px) and (max-width: 767px){

    main .guide-content .guide-area{ max-width: none; width: 90%; }
    main .guide-content .guide-area .guide-wrap .sub-title h2{ padding: 3.125rem 0 1.25rem; font-size: 1.125rem; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .lnb-wrap{ padding: 0; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .lnb-wrap .lnb-list{ display: flex;flex-wrap: wrap; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .lnb-wrap .lnb-list .lnb-item{ width: calc(100% / 4); }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .lnb-wrap .lnb-list .lnb-item .item{ width: 100%; height: 40px; font-size: 0.75rem; padding: 0; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item .item{ width: 90%; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail{ width: 90%; gap: 2.5rem; padding: 1.875rem 0; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .border{ border-radius: 1rem; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .guide-deatil-add .guide-cta-wrap .cta-list{ flex-direction: column; gap: 1.25rem; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .guide-deatil-add .guide-cta-wrap .cta-list .cta-wrap{ height: 6.25rem; }
    main .guide-content .guide-area .guide-wrap .userGuide-wrap .guide-img-wrap .guide-img-item.code .guide-detail .guide-deatil-add .guide-cta-wrap .cta-list .cta-wrap .cta-item .cta-text{ font-size: 18px; }

}